#result1 {
  text-align: center;
  background-color: #f8e1db;
  color: #009f4d;
  font-weight: 600;
  font-size: 40px;
  border-radius: 16px;
}
button {
  height: 50px;
  border-radius: 16px;
  border: none;
  background-color: #d1e7dd;
}
#result2 {
  text-align: center;
  background-color: #f8e1db;
  color: black;
  font-weight: 600;
  font-size: 40px;
  border-radius: 16px;
}
#result3 {
    text-align: center;
    background-color: #222222;
    color: #D6F0E2;
    font-weight: 600;
    font-size: 40px;
    border-radius: 16px;
}
